body {
    background: linear-gradient(
        136deg,
        rgba(0, 0, 0, 1) 18%,
        rgba(2, 13, 48, 1) 53%,
        rgba(38, 1, 59, 1) 91%
      );
    background-blend-mode: normal;
    font-family: 'arial';
    text-align: center;
    font: normal normal 16px/1 "arial";
    color: white;
}
table {
    margin: 0 auto;
}
a {
    color: white;
}